# Ignore paths in each microservice
**/ms-feedback/HELP.md
**/ms-feedback/target/
**/ms-feedback/.apt_generated
**/ms-feedback/.classpath
**/ms-feedback/.factorypath
**/ms-feedback/.project
**/ms-feedback/.settings
**/ms-feedback/.springBeans
**/ms-feedback/.sts4-cache
**/ms-feedback/.idea/
**/ms-feedback/*.iws
**/ms-feedback/*.iml
**/ms-feedback/*.ipr
**/ms-feedback/nbproject/private/
**/ms-feedback/nbbuild/
**/ms-feedback/dist/
**/ms-feedback/nbdist/
**/ms-feedback/.nb-gradle/
**/ms-feedback/build/

**/ms-orders/HELP.md
**/ms-orders/target/
**/ms-orders/.apt_generated
**/ms-orders/.classpath
**/ms-orders/.factorypath
**/ms-orders/.project
**/ms-orders/.settings
**/ms-orders/.springBeans
**/ms-orders/.sts4-cache
**/ms-orders/.idea/
**/ms-orders/*.iws
**/ms-orders/*.iml
**/ms-orders/*.ipr
**/ms-orders/nbproject/private/
**/ms-orders/nbbuild/
**/ms-orders/dist/
**/ms-orders/nbdist/
**/ms-orders/.nb-gradle/
**/ms-orders/build/

**/ms-products/HELP.md
**/ms-products/target/
**/ms-products/.apt_generated
**/ms-products/.classpath
**/ms-products/.factorypath
**/ms-products/.project
**/ms-products/.settings
**/ms-products/.springBeans
**/ms-products/.sts4-cache
**/ms-products/.idea/
**/ms-products/*.iws
**/ms-products/*.iml
**/ms-products/*.ipr
**/ms-products/nbproject/private/
**/ms-products/nbbuild/
**/ms-products/dist/
**/ms-products/nbdist/
**/ms-products/.nb-gradle/
**/ms-products/build/


### VS Code ###
.vscode/
